* global css */ {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}

.gray {
  background-color: #313131;
  color: #fff;
}

.container {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  padding: 50px 0;
  background-color: #101010;
}
@media screen and (max-width: 500px) {
  .container {
    padding: 5px 0px;
    background-color: #000000;
  }

  h1 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
  }
}
